<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/login.css">
</head>

<body>
    <nav>
        <div class="logo">
            <h1 class="heading">SpeakUp</h1>
        </div>
    </nav>
    <div class="main">
        <div class="login">
            <h1 class="head">Login</h1>

            <form method="Post" action="/Login">
                <h3>Enter your email :</h3>
                <input class="input" type="email" name="Email" placeholder="Enter Email">
                <br>
                <h3>Enter your password :</h3>
                <input class="input" type="password" name="Password" placeholder="Enter Password">
                <br>
                <div class="anchor">
                    <button class="btn">Submit</button>
                    <a class="abtn" href="/">Sign-Up</a>
                </div>

            </form>
        </div>
    </div>






</body>

</html>