<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Voice</title>
    <link rel="stylesheet" href="/new.css">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
</head>
<body>
    
    <div class="center">
        <h2>Raise your voice. Make it count</h2>
        
         <form  method="post" action="/new">
            <!-- <h3>Enter Your Username</h3>
        <input type="text" name="username" placeholder="silent_wave92">
        <br>
        <br> -->
        <h3>Put Your Voice Into Words</h3>
        <textarea rows="10" cols="30"  type="text" name="content" placeholder="This is my voice"></textarea>
        <br>
        <div class="btn">
        <button>Submit</button>
        </div>
        
    </form>
    </div>
    
    
</body>
</html>