<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>see your voice</title>
    <link rel="stylesheet" href="/show.css">
</head>

<body>
    <nav>
        <div class="left">
            <h1 class="logo">Speakup</h1>
        </div>

        <div class="right">
           <details class="popup-menu">
                <summary>
                    <img class="userimg" src="/user.png" alt="User">

                </summary>
                <div class="menu-options">
                    <div class="menu-option">

                        <span><a class="menu-anchor" href="/profile">Profile</a></span>
                    </div>
                    <div class="menu-option">

                        <span><a class="menu-anchor" href="/new">create post</a></span>
                    </div>
                    <div class="menu-option">

                        <span><a class="menu-anchor" href="/logout">Logout</a></span>
                    </div>
                </div>
            </details>
        </div>
    </nav>
    
    <div class="top">
        <div class="top-left">
            <h1 class="show-heading">Voice in Focus</h1>
        </div>
        <div class="right">
            <img class="close-icon" src="/close.png" alt="">
        </div>
    </div>

    <div class="center">
        <div class="content">
            <h4>
                <%=post.content%>
            </h4>
        </div>

    </div>

    <script>
         document.addEventListener("click", (event) => {
            document.querySelectorAll(".popup-menu[open]").forEach((menu) => {
                if (!menu.contains(event.target)) {
                    menu.removeAttribute("open");
                }
            });
        });
         document.querySelectorAll(".popup-menu > summary").forEach((summary) => {
            summary.addEventListener("click", (event) => {
                event.stopPropagation();
            });
        });

        let closebtn = document.querySelector(".close-icon");
        closebtn.addEventListener("click", goback);
        function goback() {
            window.history.back();
        }
    </script>

</body>

</html>